<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>nexus</id>
      <username>{user}</username>
      <password>{password}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      
      <id>default</id>
      
      <repositories>
        
        <repository>
            <id>maven</id>
            <url>https://nexus.software.jango.com/repository/maven/</url>
        </repository>
        <repository>
            <id>maven-central</id>
            <url>https://nexus.software.jango.com/repository/maven-central/</url>
        </repository>
        <repository>
            <id>maven-public</id>
            <url>https://nexus.software.jango.com/repository/maven-public/</url>
        </repository>
        <repository>
            <id>maven-central-all</id>
            <url>https://nexus.software.jango.com/repository/maven-central-all/</url>
        </repository>
        
      </repositories>
    </profile>

  </profiles>

  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
  
</settings>